.bg-rbb-blue{
    background-color: $rbbBlud;
    color: white;
}
th, td {
    padding: 2px 5px!important;
}
.table-responsive {
    overflow-x: visible !important;
    overflow-y: visible !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
