<template>
    <b-card no-body>
        <template slot="header">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-md-3">
                        <label class="sr-only" for="searchbox">Name</label>
                        <input v-model="searchParams.searchTxt" type="text" class="form-control mb-2 mt-2"
                               id="searchbox"
                               placeholder="Search A/C number or Client Name">
                    </div>
                    <div class="col-md-3">
                        <label class="sr-only" for="status">Name</label>
                        <select v-model="searchParams.expireDay" name="status" id="status"
                                class="form-control mb-2 mt-2">
                            <option value="">All</option>
                            <option value="0">Expired</option>
                            <option value="7">Expire in this week</option>
                            <option value="15">Expire in 15 Days</option>
                            <option value="30">Expire in 1 month</option>
                            <option value="60">Expire in 2 month</option>
                        </select>
                    </div>
                    <div class="col-auto mb-2 mt-2">
                        <button @click="getData" type="button" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                            Search
                        </button>
                    </div>
                    <div class="col-auto mb-2 mt-2">
                        <button @click="openAddNewDialog" type="button" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                            Add New
                        </button>
                    </div>
                    <div class="col-auto mb-2 mt-2">
                        <button v-b-modal.batch_import type="button" class="btn btn-primary">
                            <i class="fa fa-list"></i>
                            Batch Import
                        </button>
                    </div>
                </div>
            </form>
        </template>
        <div class="table-responsive">
            <!-- <loading :active.sync="fetching" :is-full-page="false"></loading>-->
            <table class="table table-striped">
                <tr>
                    <th>SN</th>
                    <th>Main Code</th>
                    <th>Client Name</th>
                    <th>Insurance Company</th>
                    <th>Policy Number</th>
                    <th>Insurance Amount</th>
                    <th>Premium Amount</th>
                    <th>Issue Date</th>
                    <th>Expire Date</th>
                    <th @click="changeOrder" style="cursor: pointer">Expire
                        <span v-if="searchParams.order" class="fa fa-arrow-down"></span>
                        <span v-if="!searchParams.order" class="fa fa-arrow-up"></span>
                    </th>
                    <th>Action</th>
                </tr>
                <tr :class="getClass(ins.dayToExpire)" v-for="(ins, index) in insurances">
                    <td v-text="index+1"></td>
                    <td v-text="ins.main_code"></td>
                    <td v-text="ins.name"></td>
                    <td v-text="ins.company.name"></td>
                    <td v-text="ins.policy_number"></td>
                    <td v-text="ins.insurance_amount"></td>
                    <td v-text="ins.premium_amount"></td>
                    <td v-text="ins.issue_date"></td>
                    <td v-text="ins.expire_date"></td>
                    <td v-text="ins.dayToExpire+ ' days'"></td>
                    <td>
                        <button class="btn btn-primary" @click="editInsurance(ins)">
                            <i class="fa fa-edit"></i>
                            Edit
                        </button>
                        <button class="btn btn-danger" @click="deleteInsurance(ins)">
                            <i class="fa fa-trash"></i>
                            Delete
                        </button>
                    </td>

                </tr>
            </table>
        </div>
        <div>
            <b-modal v-model="showEditModal">
                <template v-slot:modal-title>
                    INSURANCE DETAILS
                </template>
                <div class="d-block text-left">
                    <form>
                        <div class="form-group row">
                            <label for="main_code" class="col-sm-4 col-form-label">A/C</label>
                            <div class="col-sm-8">
                                <input
                                    v-model="selected.main_code"
                                    type="text"
                                    :class="errors.main_code ? 'form-control is-invalid' : 'form-control'"
                                    id="main_code"
                                    placeholder="Main Code">
                                <div class="invalid-feedback "
                                     v-text="errors.main_code ? errors.main_code[0] : '' ">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-4 col-form-label ">Name</label>
                            <div class="col-sm-8">
                                <input
                                    v-model="selected.name"
                                    type="text"
                                    :class="errors.name ? 'form-control is-invalid' : 'form-control'"
                                    id="name"
                                    placeholder="Name">
                                <div class="invalid-feedback "
                                     v-text="errors.name ? errors.name[0] : '' ">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="company" class="col-sm-4 col-form-label ">Insurance Company</label>
                            <div class="col-sm-8">
                                <select name="company_id"
                                        id="company"
                                        v-model="selected.company_id"
                                        :class="errors.company_id ? 'form-control is-invalid' : 'form-control'">
                                    <option value="">Please Select</option>
                                    <option :value="company.id" v-for="company in insuranceCompanies">
                                        {{ company.name }}
                                    </option>
                                </select>
                                <div class="invalid-feedback "
                                     v-text="errors.company_id ? errors.company_id[0] : '' ">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="policy_number" class="col-sm-4 col-form-label ">Policy Number</label>
                            <div class="col-sm-8">
                                <input v-model="selected.policy_number" type="text"
                                       :class="errors.policy_number ? 'form-control is-invalid' : 'form-control'"
                                       id="policy_number" placeholder="Policy Number">
                                <div class="invalid-feedback "
                                     v-text="errors.policy_number ? errors.policy_number[0] : '' ">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="insurance_amount" class="col-sm-4 col-form-label ">Insurance
                                Amount</label>
                            <div class="col-sm-8">
                                <input v-model="selected.insurance_amount" type="text"
                                       :class="errors.insurance_amount ? 'form-control is-invalid' : 'form-control'"
                                       id="insurance_amount" placeholder="Insurance Amount">
                                <div class="invalid-feedback "
                                     v-text="errors.insurance_amount ? errors.insurance_amount[0] : '' ">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="premium_amount" class="col-sm-4 col-form-label ">Premium Amount</label>
                            <div class="col-sm-8">
                                <input v-model="selected.premium_amount" type="text"
                                       :class="errors.premium_amount ? 'form-control is-invalid' : 'form-control'"
                                       id="premium_amount" placeholder="Premium Amount">
                                <div class="invalid-feedback "
                                     v-text="errors.premium_amount ? errors.premium_amount[0] : '' ">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="issue_date" class="col-sm-4 col-form-label ">Issue Date</label>
                            <div class="col-sm-8">
                                <input v-model="selected.issue_date" type="date"
                                       :class="errors.issue_date ? 'form-control is-invalid' : 'form-control'"
                                       id="issue_date"
                                       placeholder="Issue Date">
                                <div class="invalid-feedback "
                                     v-text="errors.issue_date ? errors.issue_date[0] : '' ">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="expire_date" class="col-sm-4 col-form-label ">Expire Date</label>
                            <div class="col-sm-8">
                                <input v-model="selected.expire_date" type="date"
                                       :class="errors.expire_date ? 'form-control is-invalid' : 'form-control'"
                                       id="expire_date"
                                       placeholder="Expire Date">
                                <div class="invalid-feedback "
                                     v-text="errors.expire_date ? errors.expire_date[0] : '' ">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <template slot="modal-footer">
                    <b-button variant="primary" @click="selected.id  ? updateSelectedInsurance() : saveNewInsurance()">
                        <i class="fa fa-save"></i>
                        {{ updating ? 'Please Wait...' : 'Save'}}
                    </b-button>
                    <b-button @click="closeEditModal" variant="danger">
                        <i class="fa fa-arrow-alt-circle-left"></i>
                        Cancel
                    </b-button>
                </template>
            </b-modal>
            <b-modal id="batch_import">
                <template v-slot:modal-title>
                    BATCH IMPORT
                </template>
                <div class="d-block text-left">
                    <input type="file" name="file" ref="file" v-on:change="onChangeFileUpload"/>
                </div>
                <div class="mt-4 text-danger">
                    <ul>
                        <li v-for="error in errors">
                            {{ error[0] }}
                        </li>
                    </ul>
                </div>
                <template slot="modal-footer">
                    <a href="/sample.xlsx" class="btn btn-primary">
                        <i class="fa fa-download"></i>
                        Sample File</a>
                    <button class="btn btn-primary" @click="handleBatchImport">
                        <i class="fa fa-save"></i>
                        {{ uploading ? 'Please Wait...': 'Submit'}}
                    </button>
                    <button class="btn btn-danger" @click="$bvModal.hide('batch_import')">
                        <i class="fa fa-arrow-alt-circle-left"></i>
                        Cancel
                    </button>
                </template>
            </b-modal>
        </div>
    </b-card>

</template>
<script>
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        data() {
            return {
                insuranceCompanies: [],
                file: '',
                errors: {},
                insurances: [],
                selected: {
                    company_id: ''
                },
                uploading: false,
                updating: false,
                fetching: false,
                searchParams: {
                    searchTxt: '',
                    expireDay: '',
                    order: false
                },
                showEditModal: false
            }
        },
        mounted() {
            this.getData();
            this.getCompanies();
        },
        computed: {
            foo() {
                return this.searchParams.searchTxt;
            }
        },
        watch: {
            foo: function() {
                this.getData();
            }
        },
        methods: {
            getCompanies() {
                axios.get('/insurance/get-companies').then(res => {
                    this.insuranceCompanies = res.data;
                })
            },
            getData() {
                this.fetching = true;
                axios({
                    url: '/insurance/get',
                    data: this.searchParams,
                    method: 'post'
                }).then(res => {
                    this.fetching = false;
                    this.insurances = res.data;
                }).catch(er => {
                    this.fetching = false;
                })
            },
            getClass(day) {
                if (day <= 0) {
                    return 'expired'
                } else if (day > 0 && day <= 15) {
                    return 'day15'
                } else if (day > 15 && day <= 30) {
                    return 'day30'
                }
            },
            editInsurance(item) {
                this.selected = item;
                this.showEditModal = true;
            },
            updateSelectedInsurance() {
                this.updating = true;
                axios({
                    url: '/insurance/update/' + this.selected.id,
                    method: 'patch',
                    data: this.selected
                }).then(res => {
                    this.$bvToast.toast('Successfully Updated', {
                        title: 'Success',
                        variant: 'primary',
                        solid: true
                    })
                    this.updating = false;
                    this.getData();
                    this.closeEditModal();
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$bvToast.toast("Something went wrong, Please try again later !", {
                            title: 'Error',
                            variant: 'danger',
                            solid: true
                        })
                    }
                    this.updating = false;
                })
            },
            formatDate(year, month, day) {
                if (month < 10)
                    month = '0' + month;
                if (day < 10)
                    day = '0' + day;
                return [year, month, day].join('-');
            },
            openAddNewDialog() {
                let today = new Date();
                let issue_date = this.formatDate(today.getFullYear(), (today.getMonth() + 1), today.getDate());
                let expire_date = this.formatDate((today.getFullYear() + 1), (today.getMonth() + 1), today.getDate());
                this.selected = {
                    company_id: '',
                    issue_date: issue_date,
                    expire_date: expire_date
                };
                this.showEditModal = true;
            },
            saveNewInsurance() {
                this.updating = true;
                axios({
                    url: '/insurance/store',
                    method: 'post',
                    data: this.selected
                }).then(res => {
                    this.updating = false;
                    this.getData();
                    this.closeEditModal();
                    this.$bvToast.toast('Successfully Created', {
                        title: 'Success',
                        variant: 'primary',
                        solid: true
                    })
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$bvToast.toast("Something went wrong, Please try again later !", {
                            title: 'Error',
                            variant: 'danger',
                            solid: true
                        })
                    }
                    this.updating = false;
                })
            },
            onChangeFileUpload() {
                this.file = this.$refs.file.files[0];
            },
            handleBatchImport() {
                this.uploading = true;
                let formData = new FormData();
                formData.append('file', this.file);
                axios.post('/insurance/batch-import',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(data => {
                    this.$bvToast.toast('Successfully Imported', {
                        title: 'Success',
                        variant: 'primary',
                        solid: true
                    })
                    this.uploading = false;
                    this.$bvModal.hide('batch_import')
                    this.getData();
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$bvToast.toast("Something went wrong, Please try again later !", {
                            title: 'Error',
                            variant: 'danger',
                            solid: true
                        })
                        this.$bvModal.hide('batch_import')
                    }
                    this.uploading = false;
                });
            },
            deleteInsurance(insurance) {
                this.$bvModal.msgBoxConfirm('Please confirm that you want to delete Insurance.', {
                    title: 'Please Confirm',
                    okVariant: 'danger',
                    okTitle: 'DELETE',
                    cancelTitle: 'CANCEL',
                    hideHeaderClose: false,
                })
                    .then(value => {
                        if (value) {
                            axios({
                                url: '/insurance/' + insurance.id,
                                method: 'delete'
                            }).then(res => {
                                this.getData();
                                this.$bvToast.toast('Successfully Deleted', {
                                    title: 'Success',
                                    variant: 'primary',
                                    solid: true
                                })
                            })
                        }
                    })
                    .catch(err => {

                    })
            },
            changeOrder() {
                this.searchParams.order = !this.searchParams.order;
                this.getData();
            },
            closeEditModal() {
                this.errors = [];
                this.showEditModal = false;
            }
        },
        components: {
            Loading
        },
    }
</script>
<style>
    .expired {
        background-color: black;
        color: white;
    }

    .day30 {
        background-color: gainsboro;
        color: black;
    }

    .day15 {
        background-color: darkgray;
        color: black;
    }
</style>
