<template>
    <div>
        <b-list-group>
            <b-list-group-item>
                <b-row>
                    <b-col md="6">
                        <b-form inline>
                            <label class="mr-sm-2" for="acType">AcType: </label>
                            <b-form-select
                                id="acType"
                                class="mb-2 mr-sm-2 mb-sm-0"
                                :options="acTypes"
                                :value="''"
                                v-model="selectedAcType"
                                @change="handleAcTypeChange"
                            ></b-form-select>
                            <template v-if="loading">
                                <div class="spinner-border spinner-border-sm ml-auto" role="status"
                                     aria-hidden="true"></div>
                                <strong>&nbsp;&nbsp;Please Wait...</strong>
                            </template>
                        </b-form>
                    </b-col>
                    <b-col md="6" class="text-right">
                        <b-button variant="primary" target="_blank" :href="'/provision/report/'+this.id">
                            <b-icon icon="pie-chart-fill"></b-icon>
                            Generate Provision Report
                        </b-button>
                        <b-button variant="primary" :href="'/provision/report/export/'+this.id">
                            <b-icon icon="file-earmark-spreadsheet"></b-icon>
                            Export Report to Excel
                        </b-button>
                    </b-col>
                </b-row>
            </b-list-group-item>
        </b-list-group>
        <hr/>

        <b-card no-body v-if="data.length!==0">
            <b-tabs card>
                <b-tab :key="name" v-for="(loanClass, name) in data" :title="name">
                    <b-card no-body class="mb-1" v-for="acType in loanClass" :key="acType.code">
                        <b-card-header v-b-toggle="'accordion-'+name+'-'+ acType.id">
                            {{ acType.code }}
                        </b-card-header>
                        <b-collapse :id="'accordion-'+name+'-'+ acType.id" visible role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-stripe data-table">
                                    <thead>
                                    <tr>
                                        <!--<th>
                                            <b-form-checkbox :id="'all'+acType.code" name="checkbox-1" value="1">
                                            </b-form-checkbox>
                                        </th>-->
                                        <th>MainCode</th>
                                        <th>FirmName</th>
                                        <th>ClientCode</th>
                                        <th>Limit</th>
                                        <th>Balance</th>
                                        <th>PenalInt</th>
                                        <th>IntOnInt</th>
                                        <th>NormalInt</th>
                                        <th>IntOs</th>
                                        <th>Class</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="loans in acType.loans">
                                        <!-- <td>
                                             <b-form-checkbox :id="'check-'+acType.code+'-'+loans.id" name="checkbox-1"
                                                              :value="loans.id"
                                                              v-model="selectedLoans"
                                             >
                                             </b-form-checkbox>
                                         </td>-->
                                        <td v-text="loans.MainCode"></td>
                                        <td v-text="loans.FirmName"></td>
                                        <td v-text="loans.ClientCode"></td>
                                        <td v-text="loans.Limit"></td>
                                        <td v-text="loans.Balance"></td>
                                        <td v-text="numberRoundDecimal(loans.PenalInt,2)"></td>
                                        <td v-text="numberRoundDecimal(loans.IntOnInt,2)"></td>
                                        <td v-text="numberRoundDecimal(loans.NormalInt,2)"></td>
                                        <td v-text="numberRoundDecimal(loans.IntOs,2)"></td>
                                        <td>
                                            <b-dropdown right text="Send To " variant="primary" class="m-2">
                                                <b-dropdown-item href="#"
                                                                 @click="changeClass(loans.id, loanClass.id)"
                                                                 v-for="loanClass in loanClasses"
                                                                 :key="loanClass.name"
                                                >
                                                    {{ loanClass.name }}
                                                </b-dropdown-item>
                                            </b-dropdown>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </b-collapse>
                    </b-card>
                </b-tab>
            </b-tabs>
        </b-card>
        <!-- <b-card v-else class="text-center">
             <div class="spinner-border spinner-border-sm ml-auto" role="status" aria-hidden="true"></div>
             <strong> Please Wait...</strong>
         </b-card>-->
    </div>
</template>
<script>
    export default {
        props: ['id'],
        mounted() {
            this.getData();
        },
        data() {
            return {
                loading: false,
                tabIndex: 0,
                selectedAcType: '',
                data: [],
                acTypes: [],
                loanClasses: [],
                selectedLoans: []
            }
        },
        methods: {
            getData(acType = '') {
                this.loading = true;
                let url = '/api/get-loans/' + this.id + '?';
                if (acType) {
                    url += 'acType=' + acType;
                }

                axios.get(url).then(res => {
                    this.loading = false;
                    this.data = res.data.loans;
                    this.loanClasses = res.data.loanClasses;
                    this.acTypes = [{text: 'All', value: ''}, ...res.data.acTypes];
                }).catch(error => {
                    this.$toaster.error('Something is wrong.', {timeout: 8000})
                    this.loading = false;
                })
            },
            changeClass(loanId, classId) {
                axios.post('/api/update-loan-class', {loanId, classId}).then(res => {
                    this.$toaster.success('Successfully Saved.', {timeout: 8000})
                    this.getData(this.selectedAcType)
                })
            },
            handleAcTypeChange(e) {
                this.getData(e);
            },
            numberRoundDecimal(v, n) {
                return Math.round((v + Number.EPSILON) * Math.pow(10, n)) / Math.pow(10, n)
            }
        }

    }
</script>
