<template>
    <b-card no-body>
        <b-tabs card>
            <b-tab :key="name" v-for="(loanClass, name) in data" :title="name">
                <b-card no-body class="mb-1" v-for="acType in loanClass" :key="acType.code">
                    <b-card-header v-b-toggle="'accordion-'+ acType.id">
                        {{ acType.code }}
                    </b-card-header>
                    <b-collapse :id="'accordion-'+ acType.id" visible accordion="my-accordion" role="tabpanel">
                        <b-card-body>
                            <b-card-text>I start opened because <code>visible</code> is <code>true</code></b-card-text>
                            <b-card-text>{{ text }}</b-card-text>
                        </b-card-body>
                    </b-collapse>
                </b-card>
            </b-tab>
        </b-tabs>
    </b-card>
</template>
<script>
    export default {
        mounted() {
            this.getData();
        },
        data() {
            return {
                data: []
            }
        },
        methods: {
            getData() {
                axios.get('/api/get-loans/1').then(res => {
                    this.data = res.data;
                })
            }
        }

    }
</script>
